<div class="container">
  <div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">

      <form novalidate [formGroup]="userForm!!" (ngSubmit)="logIn()">
        <div>


          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control"
                 formControlName="name" />
          <strong>Name:</strong> admin<br />
          
          <div class="text-danger" *ngIf="userForm?.get('name')?.hasError('required') && userForm?.get('name')?.touched">
            name is required
          </div>
        </div>
        
        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control"
                 formControlName="password" />
          <strong>Password:</strong> admin<br />
          <div class="text-danger" *ngIf="userForm?.get('password')?.hasError('required') && userForm?.get('password')?.touched">
            password is required
          </div>
        </div>

        <div class="mt-3">
          <button class="btn btn-primary" id="btn-login" style="margin-right:5px" type="submit"
                  [disabled]="userForm?.invalid">
            Log in
          </button>

        </div>
      </form>

    </div>
  </div>
</div>
