<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age Restriction</th>
      <th>Description</th>
      <th>Company</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.ageRestriction}}</td>
      <td>{{product.description}}</td>
      <td>{{product.company}}</td>
      <td>{{product.price}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>footer</tfoot>
</table>
